In [1]:
import pandas as pd
import numpy as np
from scipy.stats import normaltest
import scipy.stats as stats

In [2]:
df = pd.read_csv("../../resources/measurements/20220922-RNAcopies_12hpi_alldata.csv", sep=";")

In [3]:
df

   Genotype  Technical replicate  RNA copies,
0        P0                    1  181542,5123
1        P0                    2  680996,6917
2        P0                    3  145159,3061
3      KOa1                    1  101997,5811
4      KOa1                    2   22399,6319
..      ...                  ...          ...
88    OEd10                    2  24760299,23
89    OEd10                    3  18651775,34
90    OEe10                    1  20095461,99
91    OEe10                    2  17571867,53
92    OEe10                    3  16228619,58

[93 rows x 3 columns]

In [4]:
def f_passage(row):
    if row["Genotype"]=="P0":
        return 0
    if row["Genotype"][-1]=="1":
        return 1
    if (row["Genotype"][-1]=="0") & (row["Genotype"][-2]=="1"):
        return 10

def f_genotype(row):
    if row["Genotype"]=="P0":
        return "P0"
    if row["Genotype"][0]=="O":
        return "OE"
    if row["Genotype"][0]=="K":
        return "KO"  
    if row["Genotype"][0]=="W":
        return "WT" 
    
def f_rna_copies(x):
    if x == ",":
        return np.nan
    else:
        return float(x.replace(",", "."))
    
def f_replicate(row):
    if row["Genotype"]=="P0":
        return "a"
    else:
        return row["Genotype"][2]
    
df["passage"] = df.apply(f_passage, axis=1)
df["genotype"] = df.apply(f_genotype, axis=1)
df["RNA_copies"] = df["RNA copies,"].apply(f_rna_copies)
df["biological_replicate"] = df.apply(f_replicate, axis=1)

In [5]:
df

,Genotype,Technical replicate,"RNA copies,",passage,genotype,RNA_copies,biological_replicate
0,P0,1,"181542,5123",0,P0,1.815425e+05,a
1,P0,2,"680996,6917",0,P0,6.809967e+05,a
2,P0,3,"145159,3061",0,P0,1.451593e+05,a
3,KOa1,1,"101997,5811",1,KO,1.019976e+05,a
4,KOa1,2,"22399,6319",1,KO,2.239963e+04,a
...,...,...,...,...,...,...,...
88,OEd10,2,"24760299,23",10,OE,2.476030e+07,d
89,OEd10,3,"18651775,34",10,OE,1.865178e+07,d
90,OEe10,1,"20095461,99",10,OE,2.009546e+07,e
91,OEe10,2,"17571867,53",10,OE,1.757187e+07,e
92,OEe10,3,"16228619,58",10,OE,1.622862e+07,e

In [6]:
df.to_csv("RNA_copies_for_R_script.csv")