Upon inoculation with 104 TCID50 of virus stock, mean survival times of WT flies were 5.5 days and 3.4 days for the parental stock and the average of all genotypes and replicates of the P10 evolved viruses, respectively. The mean survival time of WT flies decreased from P1 to P5 for viruses evolved in all genotypes (paired t-test, p < 0.005), but from P5 to P10 it only decreased in WT evolved viruses (paired t-test, p = 0.006) (Figure 2D).

In [38]:
import pandas as pd
from scipy.stats import normaltest
import scipy.stats as stats
from statsmodels.graphics.gofplots import qqplot
import pingouin as pg

In [2]:
df = pd.read_csv("../../resources/measurements/20230221_mean_survival_time_comparison.csv", sep=";")
df['mean_survival'] = df['mean_survival'].str.replace(",", ".").astype('float')
df

   Genotype Replicate  Passage  mean_survival
0        WT         a        1      -0.345000
1        WT         b        1      -0.793000
2        WT         c        1      -0.379000
3        WT         d        1      -1.379000
4        WT         e        1      -1.552000
5        WT         a        5      -2.089286
6        WT         b        5      -1.926282
7        WT         c        5      -2.421667
8        WT         d        5      -2.259058
9        WT         e        5      -2.184524
10       WT         a       10      -2.454023
11       WT         b       10      -2.654023
12       WT         c       10      -2.754023
13       WT         d       10      -2.509579
14       WT         e       10      -2.448276
15       KO         a        1       0.379000
16       KO         b        1      -1.034000
17       KO         c        1       0.448000
18       KO         d        1       1.759000
19       KO         e        1       0.174000
20       KO         a        5      -3.755952
21       KO         b        5      -2.768939
22       KO         c        5      -2.141667
23       KO         d        5      -3.541667
24       KO         e        5      -2.565476
25       KO         a       10      -2.513547
26       KO         b       10      -2.084975
27       KO         c       10      -1.870690
28       KO         d       10      -2.068966
29       KO         e       10      -2.172414
30       OE         a        1      -0.936000
31       OE         b        1      -0.116000
32       OE         c        1      -0.759000
33       OE         d        1      -0.862000
34       OE         e        1      -0.543000
35       OE         a        5      -2.333333
36       OE         b        5      -2.333333
37       OE         c        5      -2.166667
38       OE         d        5      -2.128623
39       OE         e        5      -2.208333
40       OE         a       10      -2.020690
41       OE         b       10      -2.654023
42       OE         c       10      -2.477833
43       OE         d       10      -2.406404
44       OE         e       10      -1.928382

In [64]:
print(pg.normality(df[df["Genotype"]=="WT"], dv='mean_survival', group='Passage'))

                W      pval  normal
Passage
1        0.874802  0.286418    True
5        0.999033  0.999661    True
10       0.870391  0.268010    True

In [65]:
print(pg.normality(df[df["Genotype"]=="KO"], dv='mean_survival', group='Passage'))

                W      pval  normal
Passage
1        0.937557  0.648725    True
5        0.933841  0.622785    True
10       0.924721  0.560839    True

In [66]:
print(pg.normality(df[df["Genotype"]=="OE"], dv='mean_survival', group='Passage'))

                W      pval  normal
Passage
1        0.889394  0.354063    True
5        0.862491  0.237329    True
10       0.913738  0.490377    True

In [63]:
# paired t-test comparing WT-P1 to WT-P5
stats.ttest_ind(df[(df["Genotype"]=="WT") & (df["Passage"]==5)]["mean_survival"],
                df[(df["Genotype"]=="WT") & (df["Passage"]==1)]["mean_survival"],
                alternative="less", equal_var= False).pvalue

0.0006013506584109049

In [ ]:
# paired t-test comparing WT-P1 to WT-P5
stats.ttest_rel(df[(df["Genotype"]=="WT") & (df["Passage"]==5)]["mean_survival"],
                df[(df["Genotype"]=="WT") & (df["Passage"]==1)]["mean_survival"],
                alternative="less", ).pvalue

In [35]:
# paired t-test comparing WT-P1 to WT-P5
stats.ttest_rel(df[(df["Genotype"]=="KO") & (df["Passage"]==5)]["mean_survival"],
                df[(df["Genotype"]=="KO") & (df["Passage"]==1)]["mean_survival"],
                alternative="less").pvalue

0.003195912389265416

In [36]:
# paired t-test comparing WT-P1 to WT-P5
stats.ttest_rel(df[(df["Genotype"]=="OE") & (df["Passage"]==5)]["mean_survival"],
                df[(df["Genotype"]=="OE") & (df["Passage"]==1)]["mean_survival"],
                alternative="less").pvalue

0.0003584663337320007

In [38]:
stats.ttest_rel(df[(df["Genotype"]=="WT") & (df["Passage"]==10)]["mean_survival"],
                df[(df["Genotype"]=="WT") & (df["Passage"]==5)]["mean_survival"],
                alternative="less").pvalue

0.0057186150563708115