In [1]:
import pandas as pd

In [9]:
# load deletions from DCV samples
fname_dcv = '../../resources/deletion_analysis/results/dcv_all_mutations.EB_space.csv'

In [10]:
df_dcv = pd.read_csv(fname_dcv)

# add information
df_dcv['n_reads_var'] = df_dcv['Rvar'] + df_dcv['Fvar']
df_dcv['coverage'] = df_dcv['Rtot'] + df_dcv['Ftot']
df_dcv['frequency'] = df_dcv['n_reads_var'] / df_dcv['coverage']

# filtering as done for our samples 
# strand bias test 
df_dcv = df_dcv[df_dcv['Pval']>=0.05]

# minimum read support
minimum_read_support = 10 
df_dcv = df_dcv[df_dcv['n_reads_var']>=minimum_read_support]

In [11]:
# check which samples are in that dataframe
print(df_dcv['date'].unique())
print(df_dcv['patient'].unique())

['mock_P3' 'WT_p1' 'WT_p10' 'S2_P0' 'wol_P3' 'Dmel_EIKST' 'Dmel_10'
 'dcrKO_P10' 'Dpro_10']
['martinez2019' 'mongelli2022' 'obbard2015' 'Longdon2018']

In [12]:
# filter for the deletions of interest 
df_dcv = df_dcv[df_dcv["Var"]=='-']
df_dcv_utr = df_dcv[df_dcv['Pos'].isin(list(range(276,285)))]
df_dcv_utr[['Pos', 'Ref', 'Var',  'patient', 'date', 'coverage', 'frequency']]

      Pos Ref Var       patient       date  coverage  frequency
27    276   T   -  martinez2019    mock_P3       589   0.035654
1245  276   T   -  mongelli2022      WT_p1     19169   0.474307
1247  277   T   -  mongelli2022      WT_p1     19103   0.001204
1755  276   T   -  mongelli2022     WT_p10     24236   0.878115
1757  277   T   -  mongelli2022     WT_p10     24102   0.002946
2146  276   T   -  mongelli2022      S2_P0     29353   0.417402
2148  277   T   -  mongelli2022      S2_P0     29120   0.001099
3329  276   T   -  martinez2019     wol_P3       805   0.157764
4646  276   T   -   Longdon2018    Dmel_10     18182   0.153448
4648  277   T   -   Longdon2018    Dmel_10     17979   0.000612
5132  276   T   -  mongelli2022  dcrKO_P10     14470   0.164755
5134  277   T   -  mongelli2022  dcrKO_P10     14291   0.000700

In [13]:
df_dcv_utr = df_dcv_utr[df_dcv_utr['Pos']==276]
df_dcv_utr[['Pos', 'Ref', 'Var',  'patient', 'date', 'coverage', 'frequency']]

      Pos Ref Var       patient       date  coverage  frequency
27    276   T   -  martinez2019    mock_P3       589   0.035654
1245  276   T   -  mongelli2022      WT_p1     19169   0.474307
1755  276   T   -  mongelli2022     WT_p10     24236   0.878115
2146  276   T   -  mongelli2022      S2_P0     29353   0.417402
3329  276   T   -  martinez2019     wol_P3       805   0.157764
4646  276   T   -   Longdon2018    Dmel_10     18182   0.153448
5132  276   T   -  mongelli2022  dcrKO_P10     14470   0.164755

In [15]:
df_dcv_r = df_dcv[df_dcv['Pos'].isin(list(range(5764,5774)))]
df_dcv_r[['Pos', 'Ref', 'Var',  'patient', 'date', 'coverage', 'frequency']]

       Pos Ref Var       patient       date  coverage  frequency
1394  5765   T   -  mongelli2022      WT_p1      6067   0.024559
1921  5765   T   -  mongelli2022     WT_p10     10541   0.031876
2844  5765   T   -  mongelli2022      S2_P0     16762   0.021954
4168  5765   T   -  martinez2019     wol_P3      1126   0.021314
4900  5765   T   -   Longdon2018    Dmel_10     10108   0.021468
5341  5765   T   -  mongelli2022  dcrKO_P10      7933   0.022816